
#feedbackId{
  color: #3285f1;
}
#githubId{
  color: #3285f1;
}

body > div.webix_view.webix_layout_line > div.webix_view.webix_layout_line > div:nth-child(2) > div:nth-child(2){
    max-height: fit-content!important;
    height: auto!important;
}
body > div.webix_view.webix_layout_line > div.webix_view.webix_layout_line > div:nth-child(3) > div:nth-child(2){
    max-height: fit-content!important;
    height: auto!important;
}
body > div.webix_view.webix_layout_line > div.webix_view.webix_layout_line{
    margin-top: 0px !important;
}
.webix_view.webix_control .webix_disabled_box .webix_button{
  color: #3285f1!important;
    background: #ffffff!important;
    text-shadow: none!important;
    border: 1px solid!important;
    border-radius: 10px!important;
}
.bt_1 button.webix_button{
  font-size: 13px;
    background: #3285f1!important;
    border-radius: 10px!important;
    color: white!important;
    box-shadow: none !important;
    border: none !important;
}
